.main-background {
    background: #55a8c9;
}

.text-input {
    height: 4em !important;
}

.icon-container {
    display: flex;
}

.icon-container div {
    margin-right: 12px;
}

.icon-container i {
    font-size: 22px;
}

.objective-percentage {
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    height: 32px;
    width: 60px;
    outline: none;
    transition: border-color 0.3s ease;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    text-align: center;
}

.objective-percentage::-webkit-inner-spin-button,
.objective-percentage::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.objective-percentage:focus {
    border-color: #65a3e2;
}

.table-divider {
    border-right: 2px solid #dee2e6;
    height: 100%;
}

.primary-value {
    padding: 5px;
}

.second-value {
    height: 80%;
    font-size: 0.9em;
    margin-right: -0.3em;
}

.message-container {
    display: none;
    position: relative;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

.alert-container {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}

.success-container {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #1b7e32;
}

.fa-triangle-exclamation, .fa-circle-check {
    margin-right: 10px;
}

.fa-xmark {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.spinner {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

.social-media-btn {
    margin: 0 5px;
}

#autocomplete-asset-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#autocomplete-asset-list li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#autocomplete-asset-list li:hover {
    background-color: #f2f2f2;
}

#autocomplete-asset-list li.active {
    background-color: #007bff;
    color: #fff;
}

#asset-name-block {
    display: none;
}

.btn-buy {
    background-color: green !important;
    color: white !important;
}

.btn-sell {
    background-color: #d04955 !important;
    color: white !important;
}

.btn-default {
    background-color: #e0e0e0 !important;
    color: #757575 !important;
}

.processing-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 550px; 
    text-align: center;
}