<div id="asset-filter" class="mt-3">
  <div class="nav nav-pills nav-justified mb-3 d-grid gap-3 d-md-flex col-8 mx-auto">
        <button 
          type="button" 
          class="btn nav-link active col-4" 
          data-mdb-ripple-init 
          data-mdb-ripple-color="dark" 
          id="acoes"
          data-group-id="1">
          <i class="fa-solid fa-circle-dollar-to-slot fa-lg me-2"></i>
          Ações - 
        </button>
        <button 
          type="button" 
          class="btn nav-link active col-4" 
          data-mdb-ripple-init 
          data-mdb-ripple-color="dark" 
          id="fiis"
          data-group-id="2">
          <i class="fa-solid fa-house-chimney fa-lg me-2"></i>
          Fundos Imobiliários - 
        </button>
        <button 
          type="button" 
          class="btn nav-link active col-4" 
          data-mdb-ripple-init 
          data-mdb-ripple-color="dark" 
          id="criptos"
          data-group-id="3">
          <i class="fa-brands fa-btc fa-lg me-2"></i>
          Criptomoedas - 
        </button>
    </div>
</div>