<footer class="bg-body-tertiary text-center footer">
    <!-- <div class="container p-4 pb-0">
        <section class="mb-4">
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1 social-media-btn" style="background-color: #3b5998;" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1 social-media-btn" style="background-color: #55acee;" href="#!" role="button"><i class="fab fa-twitter"></i></a>
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1 social-media-btn" style="background-color: #dd4b39;" href="#!" role="button"><i class="fab fa-google"></i></a>
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1 social-media-btn" style="background-color: #ac2bac;" href="#!" role="button"><i class="fab fa-instagram"></i></a>
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1 social-media-btn" style="background-color: #0082ca;" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a data-mdb-ripple-init class="btn text-white btn-floating m-1 social-media-btn" style="background-color: #333333;" href="#!" role="button"><i class="fab fa-github"></i></a>
        </section>
    </div> -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="text-body" href="https://adasfinance.com/">AdasFinance.com</a>
    </div>
</footer>

<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>