</tbody>
<?php if (!isset($asset)): ?>
    <td colspan="10">
        <div class="text-center mt-3">
            <p>Nenhum ativo cadastrado...</p>
        </div>
    </td>    
<?php endif; ?>
</table>
<div class="message-container success-container">
    <i class="fa-solid fa-circle-check"></i>
    <span>Objetivo salvo com sucesso.<span>
    <i class="fa-solid fa-xmark" id="closeIcon"></i>
</div>
<div class="message-container alert-container">
    <i class="fa-solid fa-triangle-exclamation"></i>
    <span><strong>Atenção:</strong> A soma total do seu Objetivo (%) ultrapassa 100%, para corrigir o problema altere o objetivo de alguma de suas posições.<span>
</div>
</div>