<html>
    <div class="modal fade" id="includeAsset" tabindex="-1" aria-labelledby="includeNewAsset" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="includeNewAsset">Incluir Ativo</h5>
                    <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="user-asset-save" action="user_asset_save" method="post">
                        <div class="mb-4" id="asset-info">
                            <div class="form-outline me-2" data-mdb-input-init>
                                <input type="search" name="asset-code" class="form-control text-input" id="autocomplete-asset-input" required/>
                                <label for="asset-code" class="form-label">Código do Ativo</label>
                            </div>
                            <div class="form-outline" id="asset-name-block" data-mdb-input-init>
                                <input type="text" name="asset-name" class="form-control text-input" id="asset-name" readonly>
                                <label for="asset-name" class="form-label">Empresa</label>
                            </div>
                            <input type="hidden" id="asset-id" name="asset-id" />
                        </div>   
                        <ul class="list-group mt-3" id="autocomplete-asset-list"></ul>
                        <div class="collapse" id="collapse-form">
                            <?php include('user-asset.html'); ?>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>    
</html>