<html>
    <div class="modal fade" id="includeAsset" tabindex="-1" aria-labelledby="includeNewAsset" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="includeNewAsset">Incluir Ativo</h5>
                <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                      <label for="asset-code" class="col-form-label">Código do Ativo:</label>
                      <input type="text" class="form-control" id="asset-code" />
                    </div>
                    <div class="mb-3">
                      <label for="quantity" class="col-form-label">Quantidade:</label>
                      <input type="text" class="form-control" id="quantity" />
                    </div>
                    <div class="mb-3">
                        <label for="average-price" class="col-form-label">Preço Médio:</label>
                        <input type="text" class="form-control" id="average-price" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-ripple-init data-mdb-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-mdb-ripple-init>Salvar</button>
            </div>
            </div>
        </div>
    </div>
</html>