<div class="main-login p-2">
    <div class="row m-2 p-2">
        <div class="col d-flex align-items-center justify-content-center">
            <img src="/../TCC/public/assets/images/finance-app-animate.svg" alt="finance animation">
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card bg-light p-5 shadow col-8">
                <h3>Login</h3>
                <hr>
    
                <form action="?rota=login_submit" method="post">
                    <div class="mb-3">
                        <label for="user">Usuário</label>
                        <input type="text" name="user" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="password">Senha</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" value="Entrar" class="btn btn-primary w-100">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>