<?php
    include 'include_asset.html';      
?>
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <div class="container-fluid" style="margin: 0 2em 0 2em;">
        <div class="col-md-2 d-flex">
            <a class="navbar-brand" href="home">
                <img src="/assets/images/logo.png" style="width: 7em; height:3em;">
            </a>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
            <button type="button" class="btn btn-primary" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#includeAsset" style="height: 6vh;">
                <i class="fa-solid fa-plus me-1"></i>
                Incluir Ativo
            </button>
        </div>
        <div class="col-md-2 d-flex justify-content-center">
            <button id="synchronize" type="button" class="btn btn-primary" data-user-id="<?php echo($_SESSION['user']->getId()) ?>" style="height: 6vh;">
                <i class="fa-solid fa-refresh me-1"></i>
                Sincronizar
            </button>
        </div>
        <div class="col-md-2 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-sack-dollar fa-2xl me-2"></i>
            <div class="d-flex flex-column align-items-center">
                <div><strong>TOTAL APLICADO</strong></div>
                <div><strong>R$ <?php echo number_format($totalUserAmount, 2, ',', '.') ?></strong></div>
            </div>
        </div>
        <div class="col-md-2 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-hand-holding-dollar fa-2xl me-2"></i>
            <div class="d-flex flex-column align-items-center">
                <div><strong>BALANÇO TOTAL</strong></div>
                <div><strong>R$ <?php echo number_format($_SESSION['user']->getTotalBalance(), 2, ',', '.') ?></strong></div>
            </div>
        </div>
        <div class="col-md-2 d-flex justify-content-end">
            <div class="dropdown">
                <a
                    data-mdb-dropdown-init
                    class="dropdown-toggle hidden-arrow"
                    href="#"
                    id="navbarDropdownMenuAvatar"
                    role="button"
                    aria-expanded="false"
                >
                    <i class="fa-solid fa-user" style="margin-right: 10px;"></i>
                    <strong><?php echo($_SESSION['user']->getName()) ?></strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                    <li>
                        <a class="dropdown-item" href="#">Meu Perfil</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Configurações</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="logout">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

