<?php
    include 'include_asset.html';      
?>
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <div class="container-fluid" style="margin: 0 2em 0 2em;">
        <div class="col-md-4 d-flex">
            <a class="navbar-brand" href="home">
                <img src="/assets/images/logo.png" style="width: 7em; height:3em;">
            </a>
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <button type="button" class="btn btn-primary" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#includeAsset">
                <span class="plus-symbol"><i class="fa-solid fa-plus"></i></span>
                Incluir Ativo
            </button>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <div class="dropdown">
                <a
                    data-mdb-dropdown-init
                    class="dropdown-toggle hidden-arrow"
                    href="#"
                    id="navbarDropdownMenuAvatar"
                    role="button"
                    aria-expanded="false"
                >
                    <i class="fa-solid fa-user" style="margin-right: 10px;"></i>
                    <strong><?php echo($_SESSION['user']->getName()) ?></strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                    <li>
                        <a class="dropdown-item" href="#">Meu Perfil</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Configurações</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="logout">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

