<div class="main-background p-2">
    <div class="row m-2 p-2">
        <div class="col d-flex align-items-center justify-content-center">
            <img src="/../TCC/public/assets/images/finance-app-animate.svg" alt="finance animation">
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="card bg-light p-5 shadow col-8">
                <h3>Cadastro</h3>
                <hr>
                <form action="?route=signup_submit" method="post">
                    <div class="mb-4">
                        <label for="name">Nome</label>
                        <input type="text" name="name" class="form-control" required>
                    </div>
                    <div class="mb-4">
                        <label for="email">E-mail</label>
                        <input type="text" name="email" class="form-control" required>
                    </div>
                    <div class="mb-4">
                        <label for="username">Nome de usuário</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="mb-4">
                        <label for="password">Senha</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <div class="form-group mb-4">
                        <input type="hidden" name="action" value="signup">
                        <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
                    </div>
                    <div class="text-center">
                        <p>Já possui uma conta? <a href="?route=login">Faça login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>